<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAykQ_dsyBw6kwPqyG0SQSnA-QdPWiMLFI</string>
	<key>GCM_SENDER_ID</key>
	<string>550368483526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>udemy-flutter-bloc-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-flutter-bloc-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550368483526:ios:0a85084d3f71713af09fc7</string>
</dict>
</plist>